.setting-box.hide-setting
    .toggle-setting
        i.fa-regular.fa-envelope.fa-xl
    .setting-content
        .option-box.color-options
            h4 Color Options
            - var themes = ["green-theme","blue-theme","red-theme","orange-theme","orange-theme"]
            ul.list-unstyled
                each theme in themes 
                    li(data-theme=theme)
        .option-box
            h4 Color Options
        .option-box
            h4 Color Options
