.header 
     i.fa.fa-exchange.ga-lg.toggle-sidebar
     .dropdown.notfications-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications( data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
          .noti-header 
               | Notifications 
               span 50
          .noti-content 
               ul.list-unstyled 
                    li 
                         i.fa-regular.fa-envelope.fa-xl
                         | You Got Email From Sender    
                    li 
                         i.fa-solid.fa-money-bill.fa-xl
                         | You Got Email From Sender    
                    li 
                         i.fa-solid.fa-thumbs-up.fa-xl
                         | You Got Email From Sender    
                    li 
                         i.fa-solid.fa-money-bill.fa-xl
                         | You Got Email From Sender    
                    li 
                         i.fa-solid.fa-money-bill.fa-xl
                         | You Got Email From Sender     
                    
          .noti-footer.text-center: a(href="#") View All Notifications 
     i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
     .dropdown.usermenu-container
       .username#usermenu( data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 
          img.avatar.rounded-circle(src="avata.webp", alt="User Avatar")
          span.user Osama Alsairi
          i.fa-solid.fa-angles-down.fa-lg
       .dropdown-menu(aria-labelledby='usermenu')
          .user-info 
               h3 Osama Alsairi 
               p Premium Member 
          hr
          ul.activities-list.list-unstyled 
               li Added a Comment on Post "Sport And Life"
               li Created a The Plan of chess Project 
               li draw a chart in "Data Secince"
               li Add a new data to git hub 
          hr
          .row.user-links
               .col 
                    .link-box 
                         i.fa-regular.fa-envelope.fa-xl
                         span Setting  
               .col 
                    .link-box  
                         i.fa-regular.fa-envelope.fa-xl
                         span Setting  
               .col 
                    .link-box  
                         i.fa-regular.fa-envelope.fa-xl
                         span Setting  
